*{
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
/* navbar start  */
.navbar{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:6vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* box-sizing: border-box; */
    box-shadow: 2px 2px 25px gray;
    z-index: 100;
    opacity: 0.97;
}
.main{
    position: absolute;
    top: 6vh;
    width: 100%;

}
.logo{
    margin-left: 25px;
    margin-right: 0px;
}
.logo img{
    height: 6vh;
    scale: 0.8;
}
.logo:hover{
    cursor: pointer;
}
.pages{
    font-size: 1.25rem;
    display: inline;
    flex-wrap: wrap;
    gap: 50px;
    /* transition: all 0.4s ease-in; */
}

.pages a{
    height: 5vw;
    margin-bottom: 10vw;
    margin-left:1vw ;
    font-size: 1.25vw;
    display: inline;
    padding: 2px 20px;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    font-size: 20px;
    border-bottom: none;
    /* transition: all 8s ease; */
    /* transition-duration: 8s;
    transition-timing-function: ease-in; */
}
.pages a:hover{
    opacity: 0.8;
    border-bottom: 2.5px solid rgb(0, 47, 255);
    color: rgb(0, 47, 255);
    /* transition: 2s ease-in; */
    /* transform: scale(1.5); */
}
.login button{
    box-shadow: 2px 2px 5px gray;
    height: auto;
    width: auto;
    padding: 8px 20px;
    font-size: 1.1rem;
    margin: 20px;
    margin-left: 125px;
    background-color:rgb(80, 171, 245);
    color: #ffffff;
    border: none;
    border-radius: 20px;
}
.login button:hover{
    opacity: 0.8; 
    cursor:pointer;
    transform: scale(1.05);
}
/* navbar end  */
.main{
    width: 100%;
}
.homelanding{
    background-color:rgb(244, 255, 255);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.maindiv1{
    background-color:rgba(152, 246, 255, 0.304);
    text-align: center;
    padding: 70px;
}
.maindiv1 h1{
    color: #000000;
    font-size: 60px;
    margin-bottom: 6px;
    font-weight: bold;
}
.maindiv1 p{
    color: grey;
    font-size: 20px;
    margin-top:15px ;
}
.maindiv2{
    background-color: rgb(244, 255, 255);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 7vh;
    padding-bottom: 7vh;
}
.maindiv2 h1{
    font-size: 55px;
    margin-bottom: 30px;
}
.maindiv2 p{
    padding: 0 20vw;
    font-size: 17px;
    color: grey;
    margin-bottom: 3vh;
}
.maindiv3{
    background-color:rgba(152, 246, 255, 0.304);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
}
.maindiv3 h1{
    font-size: 50px;
}
.components1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}
.components1 h3{
    margin-bottom: 12px;
}
.box1,.box2,.box3,.box4{
    border: 1px solid rgb(231, 229, 229);
    box-shadow: 1px 1px 4px black;
    background-color: rgb(244, 253, 253);
    border-radius: 30px;
    height: 18vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    transition: all ease-in-out 0.4s;
}
.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover,.box7:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.maindiv4{
    background-color: rgb(244, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    /* align-items: center; */
}
.maindiv4 h1{
    font-size: 40px;
    margin-bottom: 40px;
}
.components2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.components2 h2{
    margin-bottom: 12px;
}
.components2 h4{
    margin-bottom: 12px;
    font-size: 16px;
    color: #0091ff;
}
.components2 p{
    color: grey;
}
.box5,.box6,.box7{
    border: 1px solid rgb(231, 229, 229);
    box-shadow: 1px 1px 4px black;
    background-color: rgb(254, 254, 254);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    transition: all ease-in-out 0.4s;
}
.maindiv5{
    background-color: rgb(95, 182, 253);
    padding: 50px 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
}
.maindiv5 h1{
    font-size: 38px;
    color: #fff;
}
.maindiv5 p{
    color: #fff;
}
/* footer start  */
.footer{
    background-color: #fff;
    width: 100%;
}
hr{
    border: 1px solid gray;
}
.mainfooter{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 7vw;
}
.div1{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
.div1 img{
    height: auto;
    scale: 0.8; 
}
.div1{
    color: grey;
}
.div2{
    padding: 8px;
}
.div2 h4{
    margin-bottom: 20px;
    margin-left: 5px;
}
.links{
    display: flex;
    flex-direction: column;
    
}
.links a{
    text-decoration: none;
    color: grey;
    margin: 6px;
}
.div3{
    
    display: flex;
    flex-direction: column;
}
.div3 h4{
    margin: 6px;
    margin-bottom: 20px;
}
.div3 p{
    margin: 6px;
    color: grey;
}
#help{
    color:rgb(80, 171, 245) ;
}
#rightreserved{
    width: 60%;
    border: 0.1px solid grey;
    margin: 0 auto;
}
.rights{
    text-align: center;
    padding: 10px;
}
.rights p{
    padding: 5px;
}
/* footer end  */


