*{
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
/* navbar start  */
.navbar{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px gray;
    z-index: 100;
    opacity: 0.97;
}
.main{
    position: absolute;
    top: 102px;
    width: 100%;

}
.logo{
    margin-left: 25px;
    margin-right: 0px;
}
.logo img{
    height: 100px;
    scale: 0.8;
}
.logo:hover{
    cursor: pointer;
}
.pages{
    font-size: 1.25rem;
    display: inline;
    flex-wrap: wrap;
    gap: 50px;
}
.pages a{
    height: 5vw;
    margin-bottom: 10vw;
    margin-left:1vw ;
    font-size: 1.25vw;
    display: inline;
    padding: 8px 20px;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(80, 171, 245);
    box-shadow: 2px 2px 5px gray;

}
.pages a:hover{
    opacity: 0.8;
    transform: scale(1.05);
}
.login button{
    box-shadow: 2px 2px 5px gray;
    height: auto;
    width: auto;
    padding: 8px 20px;
    font-size: 1.4rem;
    margin: 20px;
    margin-left: 125px;
    background-color:rgb(80, 171, 245);
    color: #ffffff;
    border: none;
    border-radius: 20px;
}
.login button:hover{
    opacity: 0.8; 
    cursor:pointer;
    transform: scale(1.05);
}
/* navbar end  */
.main{
    width: 100%;
}
.homelanding{
    background-color:#fff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.maindiv1{
    background-color:rgba(152, 246, 255, 0.304);
    text-align: center;
    padding: 70px;
}
.maindiv1 h1{
    color: #000000;
    font-size: 50px;
    margin-bottom: 6px;
}
.maindiv1 p{
    color: grey;
    font-size: 20px;
    margin-top:15px ;
}
.maindiv2{
    background-color: rgb(244, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    border:1px solid rgb(56, 56, 56);
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    border-radius: 14px;
    margin: 8vh 0;
    box-shadow: 2px 2px 20px black;
}
.form p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    color: rgb(56, 56, 56);
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}
input{
    border-radius: 14px;
    width: 17vw;
    padding: 12px;
    height: 2vh;
    border: 1px solid rgb(231, 229, 229);
    box-shadow: 1px 1px 4px black;
}
input:focus{
    box-shadow:1px 1px 9px rgb(160, 255, 253) ;
}
textarea{
    border-radius: 14px;
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    height: 12vh;
    border: 1px solid rgb(231, 229, 229);
    box-shadow: 1px 1px 4px black;
    margin-bottom: 38px;
}
textarea:focus{
    box-shadow:1px 1px 9px rgb(160, 255, 253) ;
}
select{
    padding: 6px;
    height: 4vh;
    border-radius: 14px;
    margin-bottom: 38px;
    box-shadow: 1px 1px 4px black;
}
button{
    width: 100%;
    padding: 15px;
    background-color: rgb(49, 225, 166);
    border-radius: 14px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border: none;
    transition: all ease-in-out 0.4s;
    margin-top: 70px;
    box-shadow: 1px 1px 5px black;
}
button:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.nameandage{
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    margin-bottom:38px;
}

.datetime{
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    margin-bottom: 38px;
}
.emailphn{
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
}
/* footer start  */
.footer{
    background-color: #fff; 
    width: 100%;
}
hr{
    border: 1px solid gray;
}
.mainfooter{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 7vw;
    
}
.div1{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
.div1 img{
    height: auto;
    scale: 0.8; 
}
.div1{
    color: grey;
}
.div2{
    
    padding: 8px;
}
.div2 h4{
    margin-bottom: 20px;
    margin-left: 5px;
}
.links{
    display: flex;
    flex-direction: column;
    
}
.links a{
    text-decoration: none;
    color: grey;
    margin: 6px;
}
.div3{
    
    display: flex;
    flex-direction: column;
}
.div3 h4{
    margin: 6px;
    margin-bottom: 20px;
}
.div3 p{
    margin: 6px;
    color: grey;
}
#help{
    color:rgb(80, 171, 245) ;
}
#rightreserved{
    width: 60%;
    border: 0.1px solid grey;
    margin: 0 auto;
}
.rights{
    text-align: center;
    padding: 10px;
}
.rights p{
    padding: 5px;
}
/* footer end  */