*{
    padding: 0;
    margin: 0;
    
}
    
body{
    background-color: rgba(152, 246, 255, 0.304);
}
.navbar{
    position:fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:100px ;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px gray;
    
    
}
.logo{
    margin-left: 25px;
    margin-right: 0px;
}
.logo img{
    height: 100px;
    scale: 0.8;
}
.logo:hover{
    cursor: pointer;
}
.pages{
    font-size: 1.25rem;
    display: flex;
    gap: 50px;
    margin-right: 0px;
}
.pages a{
    display: inline;
    padding: 8px 20px;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(80, 171, 245);
    box-shadow: 2px 2px 5px gray;

}
.pages a:hover{
    opacity: 0.8;
    transform: scale(1.05);
}
.login button{
    box-shadow: 2px 2px 5px gray;
    height: auto;
    width: auto;
    padding: 8px 20px;
    font-size: 1.2rem;
    margin: 20px;
    margin-left: 125px;
    background-color:rgb(80, 171, 245);
    color: #ffffff;
    border: none;
    border-radius: 20px;
}
.login button:hover{
    opacity: 0.8; 
    cursor:pointer;
    transform: scale(1.05);
}