*{
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
/* navbar start  */
.navbar{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:6vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* box-sizing: border-box; */
    box-shadow: 2px 2px 25px gray;
    z-index: 100;
    opacity: 0.97;
}
.main{
    position: absolute;
    top: 6vh;
    width: 100%;

}
.logo{
    margin-left: 25px;
    margin-right: 0px;
}
.logo img{
    height: 6vh;
    scale: 0.8;
}
.logo:hover{
    cursor: pointer;
}
.pages{
    font-size: 1.25rem;
    display: inline;
    flex-wrap: wrap;
    gap: 50px;
    /* transition: all 0.4s ease-in; */
}

.pages a{
    height: 5vw;
    margin-bottom: 10vw;
    margin-left:1vw ;
    font-size: 1.25vw;
    display: inline;
    padding: 2px 20px;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    font-size: 20px;
    border-bottom: none;
    /* transition: all 8s ease; */
    /* transition-duration: 8s;
    transition-timing-function: ease-in; */
}
.pages a:hover{
    opacity: 0.8;
    border-bottom: 2.5px solid rgb(0, 47, 255);
    color: rgb(0, 47, 255);
    /* transition: 2s ease-in; */
    /* transform: scale(1.5); */
}
.login button{
    box-shadow: 2px 2px 5px gray;
    height: auto;
    width: auto;
    padding: 8px 20px;
    font-size: 1.4rem;
    margin: 20px;
    margin-left: 125px;
    background-color:rgb(80, 171, 245);
    color: #ffffff;
    border: none;
    border-radius: 20px;
}
.login button:hover{
    opacity: 0.8; 
    cursor:pointer;
    transform: scale(1.05);
}
/* navbar end */
.main{
    position: absolute;
    top: 6vh;
    width: 100%;
}
.homelanding{
    background-color:#fff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.maindiv1{
    background-color:rgba(152, 246, 255, 0.304) ;
    height: fit-content;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.textandbuttons{
    /* margin-left: 80px;
    margin-right:20px;
    margin-top: 30px; */
    margin-left:10px ;
    padding-left: 60px;
    padding-right: 300px;
    
}
.images{
    margin-top: 100px;
    margin-bottom: 100px;
}

.textandbuttons h1{
    font-size: 65px;
    margin-bottom: 15px;
}
.textandbuttons h1 span{
    color: rgba(85, 159, 255, 0.809);
}
.textandbuttons p{
    font-size: 18px;
    color: grey;
    margin-bottom: 50px;
}
.buttons a{
    text-decoration: none;
    background-color: rgb(49, 225, 166);
    padding: 25px;
    margin: 10px;
    border-radius: 60px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 5px 10px gray;
}
.buttons{
    display: flex;
}
.button1 ,.button2 {
    transition: all ease-in-out 0.4s;
}
.buttons :hover{
    cursor: pointer;
    opacity: 0.98;
    transform: scale(1.02);
}

.images img{
    height: 400px;
    border-radius: 70px;
    box-shadow: 1px 5px 10px gray;
}
.maindiv2{
    background-color: rgb(244, 255, 255);
    padding-top:50px ;
    padding-bottom: 80px;
}
.text  h1,.text p{
    text-align: center;
}
.text{
    margin-bottom: 70px ;
}
.text h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.text p{
    color: grey;
    font-size: 20px;
}
.row1,.row2{
    display: flex;
    justify-content:space-around;
}
.box1,.box2,.box3,.box4,.box5,.box6{
    border: 4px solid rgb(242, 242, 242);
    width: 25vw;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    margin-bottom: 40px;
    box-shadow: 2px 5px 10px gray;
    transition: all ease-in-out 0.4s;
}
.box1 p ,.box2 p,.box3 p,.box4 p,.box5 p,.box6 p{
    color: grey;
    margin-top: 5px;
}
.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover{
    transform: scale(1.05);
}
.maindiv3{
    background-color: rgb(95, 182, 253);
    text-align: center;
    padding: 70px;
}
.maindiv3 h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 6px;
}
.maindiv3 p{
    color: #fff;
    font-size: 18px;
    margin-top:15px ;
}
.maindiv3 button{
    padding: 10px 55px;
    background-color:rgb(49, 225, 166) ;
    border: none;
    border-radius: 15px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    box-shadow: 1px 5px 10px gray;
    transition: all ease-in-out 0.4s;
}
.maindiv3 button:hover{
    opacity: 0.9;
    transform: scale(1.05);
    cursor: pointer;
}
.maindiv4{
    background-color: rgb(244, 255, 255);
    width: 100%;
    height: 150px;;
}
.footer{
    background-color: #fff; 
    width: 100%;
}
hr{
    border: 1px solid gray;
}
.mainfooter{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 7vw;
    
}
.div1{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
.div1 img{
    height: auto;
    scale: 0.8; 
}
.div1{
    color: grey;
}
.div2{
    
    padding: 8px;
}
.div2 h4{
    margin-bottom: 20px;
    margin-left: 5px;
}
.links{
    display: flex;
    flex-direction: column;
    
}
.links a{
    text-decoration: none;
    color: grey;
    margin: 6px;
}
.div3{
    
    display: flex;
    flex-direction: column;
}
.div3 h4{
    margin: 6px;
    margin-bottom: 20px;
}
.div3 p{
    margin: 6px;
    color: grey;
}
#help{
    color:rgb(80, 171, 245) ;
}
#rightreserved{
    width: 60%;
    border: 0.1px solid grey;
    margin: 0 auto;
}
.rights{
    text-align: center;
    padding: 10px;
}
.rights p{
    padding: 5px;
}