*{
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}
/* navbar start */
.navbar{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px gray;
    z-index: 100;
    opacity: 0.95;
}
.main{
    position: absolute;
    top: 102px;
    width: 100%;

}
.logo{
    margin-left: 25px;
    margin-right: 0px;
}
.logo img{
    height: 100px;
    scale: 0.8;
}
.logo:hover{
    cursor: pointer;
}
.pages{
    font-size: 1.25rem;
    display: inline;
    flex-wrap: wrap;
    gap: 50px;
}
.pages a{
    height: 5vw;
    margin-bottom: 10vw;
    margin-left:1vw ;
    font-size: 1.25vw;
    display: inline;
    padding: 8px 20px;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(80, 171, 245);
    box-shadow: 2px 2px 5px gray;

}
.pages a:hover{
    opacity: 0.8;
    transform: scale(1.05);
}
.login button{
    box-shadow: 2px 2px 5px gray;
    height: auto;
    width: auto;
    padding: 8px 20px;
    font-size: 1.4rem;
    margin: 20px;
    margin-left: 125px;
    background-color:rgb(80, 171, 245);
    color: #ffffff;
    border: none;
    border-radius: 20px;
}
.login button:hover{
    opacity: 0.8; 
    cursor:pointer;
    transform: scale(1.05);
}
.main{
    width: 100%;
}
.homelanding{
    background-color:#fff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.maindiv1{
    background-color:rgba(152, 246, 255, 0.304);
    text-align: center;
    padding: 70px;
}
.maindiv1 h1{
    color: #000000;
    font-size: 45px;
    margin-bottom: 6px;
}
.maindiv1 p{
    color: grey;
    font-size: 18px;
    margin-top:15px ;
}
.maindiv1 input{
    margin-top: 20px;
    width: 500px;
    padding: 15px;
    padding-left: 25px;
    border-radius: 30px;
    border: 1px solid rgb(231, 229, 229);
    box-shadow: 1px 1px 5px black;
}
.maindiv1 input:focus{
    box-shadow: 3px 3px 10px rgb(0, 183, 255);
    border-color: aqua;
}
.maindiv2{
    background-color: rgb(244, 255, 255);
}
.row1,.row2{
    display: flex;
    justify-content: space-evenly;
}
.row2{
    padding-bottom: 200px;
}
.boxtext{
    padding: 20px 15px 30px 15px;
}
.box1,.box2,.box3,.box4,.box5,.box6{
    width: 400px;
    border: 2px solid rgb(231, 229, 229);
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 2px 2px 30px black;
    margin: 80px 40px;
}
.box1 img,.box2 img,.box3 img,.box4 img,.box5 img,.box6 img{
    width: 100%;
    border-radius: 18px;
}
.boxtext h3{
    font-size: 23px;
    font-weight:900;
    margin-bottom: 5px;
}
.spec{
    border: 0.5px solid grey;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 11px;
    margin-left: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.desc,.exp{
    color: rgb(127, 127, 130);
}
.desc{
    font-size: 12px;
    font-style: italic;
    margin: 10px 0px; 
}
.exp{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.boxtext button{
    width: 100%;
    height: 40px;
    background-color: rgb(49, 225, 166);
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
}
.boxtext button:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 1px 1px 5px black;
}
/* navbar end */
.footer{
    background-color: #fff; 
    width: 100%;
}
hr{
    border: 1px solid gray;
}
.mainfooter{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 7vw;
    
}
.div1{
    display: flex;
    flex-direction: column;
    width: 300px;
    
}
.div1 img{
    height: auto;
    scale: 0.8; 
}
.div1{
    color: grey;
}
.div2{
    
    padding: 8px;
}
.div2 h4{
    margin-bottom: 20px;
    margin-left: 5px;
}
.links{
    display: flex;
    flex-direction: column;
    
}
.links a{
    text-decoration: none;
    color: grey;
    margin: 6px;
}
.div3{
    
    display: flex;
    flex-direction: column;
}
.div3 h4{
    margin: 6px;
    margin-bottom: 20px;
}
.div3 p{
    margin: 6px;
    color: grey;
}
#help{
    color:rgb(80, 171, 245) ;
}
#rightreserved{
    width: 60%;
    border: 0.1px solid grey;
    margin: 0 auto;
}
.rights{
    text-align: center;
    padding: 10px;
}
.rights p{
    padding: 5px;
}